.b-crear_producto {

  .oculto{
    display: none;
  }

  .control-imagen {
    text-align: center;
    margin-bottom: 10px;

    .cont-imagen {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border: 1px dashed;

      .imagen {
        max-width: 100%;
        max-height: 100%;
      }

    }

  }

  .control-datos {
    text-align: left;
    margin-bottom: 10px;
  }

}
