
button:disabled{
  color: gray;
}

.nombre-pagina {
  text-decoration: none;
  color: black;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 18px;

  &:link {
    text-decoration: none;
  }
  &:visited {
    text-decoration: none;
  }
  &:hover {
    text-decoration: underline;
  }
  &:active {
    text-decoration: underline;
  }

}

.error{
  font-weight: bold;
  color: red;
  text-align: center;
}

.cont-lista-usuarios{
  display: block;
  width: 100%;
  height: 150px;
  background-color: white;
  border: 1px solid darkgray;

  .lista-usuarios{
    margin: 5px;
    padding: 0px;

    li{
      list-style-type: none;
      margin: 5px;
    }

  }

}

.form-mensaje{

  .chat{
    display: block;
    width: 100%;
    height: 250px;
    resize: none;
    margin-bottom: 10px;
  }

}
