
button{
  &:disabled{
    color: gray;
  }
}

body{
  background-image: url(/javax.faces.resource/white-box-texture.jpg.xhtml?ln=images);
}

.altura-linea{
  height: 35px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.cont-form{
  box-shadow: 1px 1px 2px;
  background-color: white;
}

.cont-titulo{
  padding-top: 5px;
  padding-bottom: 5px;

  h1{
    text-align: center;
    margin: 0px;
    font-size: 25px;
  }

}

.form-nombre{

  .error-nombre{
    font-weight: bold;
    color: red;
    text-align: center;
  }

  .etiqueta-nombre{
    display: block;
    float: left;
  }

  .nombre{
    display: block;
    width: 100%;
  }

  .boton-unirse{
    display: block;
    width: 100%;
  }
}

.form-mensaje{

  .etiqueta-lista-usuarios{
    display: block;
    width: 100%;
  }

  .lista-usuarios{
    display: block;
    width: 100%;
    height: 100px;
    padding: 5px;
    margin: 0px;
    background-color: white;
    border: 1px solid darkgray;

    li{
      list-style-type: none;
    }

  }

  .etiqueta-chat{
    display: block;
    width: 100%;
  }

  .chat{
    display: block;
    width: 100%;
    height: 200px;
    resize: none;
  }

  .error-mensaje{
    font-weight: bold;
    color: red;
    text-align: center;
  }

  .etiqueta-mensaje{
    display: block;
    float: left;
  }

  .mensaje{
    display: block;
    width: 100%;
  }

  .submit{
    width: 100%;
  }

}
