.ancho-celda-a{
  width: 80px;
}

.ancho-celda-b{
  width: 100px;
}

.ancho-celda-c{
  width: 150px;
}

.fila-datos{
  height: 72px;

  .centrado{
    text-align: center;
  }

  .derecha{
    text-align: right;
  }

  img{
    max-width: 60px;
    max-height: 60px;
  }

}
