.b-perfil {

  .b-datos-perfil {

    h4{
      font-weight: bold;
    }

    .panel.panel-default.ultimo{
      margin-bottom: 0px;
    }

  }

  #form-mis-productos{
    tbody{
      tr{
        cursor: pointer;
      }
    }
  }

  .table-responsive{
    margin-bottom: 0px;
  }

  .table{

    td{
      vertical-align: middle;
    }

    .alinear-centro{
      text-align: center;
    }

    .alinear-izquierda{
      text-align: left;
    }

    .alinear-derecha{
      text-align: right;
    }
  }

}
