.b-producto {

  .marco-imagen {
    display: table-cell;
    vertical-align: middle;
    width: 400px;
    padding-right: 10px;
    padding-bottom: 10px;
    text-align: center;
  }

  .imagen {
    max-width: 400px;
    max-height: 400px;
  }

  .contenedor-datos {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    font-weight: bold;
  }

}
