.b-crear_producto .oculto {
  display: none; }
.b-crear_producto .control-imagen {
  text-align: center;
  margin-bottom: 10px; }
  .b-crear_producto .control-imagen .cont-imagen {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px dashed; }
    .b-crear_producto .control-imagen .cont-imagen .imagen {
      max-width: 100%;
      max-height: 100%; }
.b-crear_producto .control-datos {
  text-align: left;
  margin-bottom: 10px; }
