.lista-usuarios {
  display: block;
  width: 100%;
  height: 100px;
  padding: 5px;
  margin: 0px;
  background-color: white;
  border: 1px solid darkgray; }
  .lista-usuarios li {
    list-style-type: none; }

.chat {
  display: block;
  width: 100%;
  height: 200px;
  resize: none;
  margin-bottom: 10px; }
