.b-perfil .b-datos-perfil h4 {
  font-weight: bold; }
.b-perfil .b-datos-perfil .panel.panel-default.ultimo {
  margin-bottom: 0px; }
.b-perfil #form-mis-productos tbody tr {
  cursor: pointer; }
.b-perfil .table-responsive {
  margin-bottom: 0px; }
.b-perfil .table td {
  vertical-align: middle; }
.b-perfil .table .alinear-centro {
  text-align: center; }
.b-perfil .table .alinear-izquierda {
  text-align: left; }
.b-perfil .table .alinear-derecha {
  text-align: right; }
