
/* PERFIL */
.b-perfil{
	height: 210px;
	text-align: center;
	background-color: #E7F5FE;
	margin-bottom: 10px;
}

.b-perfil h1{
	font-size: 18px;
	text-align: center;
	padding: 10px 0px;
	margin: 0px;
}

.b-perfil input{
    margin-bottom: 10px;
}

.b-perfil div:nth-of-type(1){
	display: inline-block;
	vertical-align: top;
	height: 120px;
	margin: 0px 50px;
	text-align: left;
}

.b-perfil div:nth-of-type(2){
	display: inline-block;
	vertical-align: top;
	height: 120px;
	margin: 0px 50px;
	text-align: left;
}

.b-perfil div:nth-of-type(3){
	display: inline-block;
	vertical-align: top;
	height: 120px;
	margin: 0px 50px;
	text-align: left;
}

.b-perfil h2{
	font-size: 16px;
	margin: 0px;
}

.b-perfil p{
	font-size: 14px;
	margin: 0px;
}

/* TABLAS GENERAL */
.b-mis-productos, .b-mis-compras, .b-mis-ventas{
	height: 320px;
	background-color: #E7F5FE;
	text-align: center;
	margin-bottom: 10px;
}

.b-mis-productos h1, .b-mis-compras h1, .b-mis-ventas h1{
	font-size: 18px;
	text-align: center;
	padding: 10px 0px;
	margin: 0px;
}

.b-mis-productos table, .b-mis-compras table, .b-mis-ventas table{
	display: inline-block;
	margin: 20px 0px 0px 0px;
	background-color: white;
	height: 200px;
	overflow: scroll;
}

.b-mis-productos th, .b-mis-productos td, .b-mis-compras th, .b-mis-compras td, .b-mis-ventas th, .b-mis-ventas td{
	border: 1px solid black;
	padding: 5px;
	vertical-align: middle;
}

.b-mis-productos th, .b-mis-compras th, .b-mis-ventas th{
	text-align: center;
}

.b-mis-productos .tabla-titulo, .b-mis-compras .tabla-titulo, .b-mis-ventas .tabla-titulo{
	font-weight: bold;
}

.b-mis-productos td:nth-of-type(3), .b-mis-compras td:nth-of-type(2), .b-mis-ventas td:nth-of-type(2){
	width: 450px;
}

.b-mis-compras td:nth-of-type(3), .b-mis-ventas td:nth-of-type(3){
	width: 150px;
	text-align: center;
}

/* PRODUCTOS */
.b-mis-productos{
}

.b-mis-productos td:nth-of-type(1){
	text-align: center;
}

.b-mis-productos td:nth-of-type(4){
	width: 80px;
	text-align: right;
}

/* COMPRAS */
.b-mis-compras{
}

/* VENTAS */
.b-mis-ventas{
	margin-bottom: 0px;
}