
.b-producto{
	margin-bottom: 10px;
}

.b-producto h1{
	text-align: center;
	padding: 10px 0px;
	font-size: 18px
}

.b-producto img{
	margin-left: 20px;
	display: inline-block;
	margin-bottom: 20px;
}

.b-producto .contenedor-datos{
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
	width: 490px;
}

.b-producto .nombre_producto{
	font-size: 16px;
	font-weight: bold;
	display: block;
}

.b-producto .etiqueta-precio-producto{
	font-size: 16px;
	font-weight: bold;
	color: red;
}

.b-producto .precio_producto{
	font-size: 16px;
	font-weight: bold;
	color: red;
	width: 80px;
	display: inline-block;
	text-align: right;
}

.b-producto .boton_comprar{
	display: block;
	margin-top: 20px;
}

.b-producto .adv_iniciar_sesion{
	font-size: 16px;
	font-weight: bold;
	color: red;
	margin-top: 20px;
}
