.ui-content.contenido-perfil {

  .datos-personales {
    margin-bottom: 10px;

    h3 {
      margin-top: 10px;
      margin-bottom: 5px;
      font-size: 14px;

      &:first-of-type {
        margin-top: 0px;
      }
    }

    p {
      margin: 0px;
      font-size: 14px;
    }

  }

  .mis-productos {
    margin-bottom: 10px;

    .ui-grid-a{
      margin-bottom: 5px;

    }

    .producto {
      font-size: 14px;
      margin-bottom: 10px;
      border: 1px solid #ddd;
      padding: 2px;
      -moz-border-radius: .3125em;
      -webkit-border-radius: .3125em;
      border-radius: .3125em;

      .ui-checkbox {
        margin: 0px;
      }

      .contenido{
        padding: 10px;

        .nombre{
          font-weight: bold;
          margin-bottom: 10px;
        }

        img{
          max-width: 80px;
          max-height: 80px;
        }

        .precio{
          font-weight: bold;
          text-align: right;
        }
      }

    }

  }

  .mis-ventas{

    .venta{
      font-size: 14px;
      margin-bottom: 10px;
      border: 1px solid #ddd;
      padding: 10px;
      -moz-border-radius: .3125em;
      -webkit-border-radius: .3125em;
      border-radius: .3125em;

      div{
        margin-top: 5px;
        margin-bottom: 5px;
      }

      div:first-child{
        margin-top: 0px;
      }

      div:last-child{
        margin-bottom: 0px;
      }

      img{
        max-width: 80px;
        max-height: 80px;
      }

    }

  }

  .mis-compras{

    .compra{
      font-size: 14px;
      margin-bottom: 10px;
      border: 1px solid #ddd;
      padding: 10px;
      -moz-border-radius: .3125em;
      -webkit-border-radius: .3125em;
      border-radius: .3125em;

      div{
        margin-top: 5px;
        margin-bottom: 5px;
      }

      div:first-child{
        margin-top: 0px;
      }

      div:last-child{
        margin-bottom: 0px;
      }

      img{
        max-width: 80px;
        max-height: 80px;
      }

    }

  }

}

.ui-popup.dlg-confirmar-eliminar-producto{

  h1{
    margin: 0px;
  }

}
