
.b-categorias{
	background-color: #E7F5FE;
	margin-left: 0px;
	margin-right: 10px;
}

.b-categorias h1{
	text-align: center;
	font-size: 18px;
	padding: 10px 0px;
	margin-bottom: 0px;
}

.b-categorias .link-habilitado{
	margin-left: 10px;
	display: block;
	margin-bottom: 10px;
}

.b-categorias .link-desabilitado{
	margin-left: 10px;
	display: block;
	margin-bottom: 10px;
}