/* 
    Created on : 11/12/2013, 12:02:59 PM
    Author     : Andres
*/

#categorias{
	background-color: #E7F5FE;
	margin-left: 0px;
	margin-right: 10px;
}

#categorias h1{
	text-align: center;
	font-size: 18px;
	padding: 10px 0px;
	margin-bottom: 0px;
}

#categorias a{
	margin-left: 10px;
	display: block;
	margin-bottom: 10px;
}