.b-header label {
  margin-right: 10px; }
.b-header .form-sesion .ui-inputfield {
  margin-right: 20px; }
.b-header .usuario-nombre {
  margin-right: 10px; }
.b-header .link-perfil {
  margin-right: 10px; }
