
.container_24{
	/*background-color: white;*/
}

.mensaje-error{
	color: red;
	font-weight: bold;
}

.tema{
    box-shadow: 1px 1px 2px;
	/*background-color: #E7F5FE;*/
	background-color: white;
}

body{
	background-image: url("../../images/white-box-texture.jpg");
}