
.container_24{
	background-color: white;
}

.error_message{
	color: red;
	margin: 0px 10px 0px 0px;
}

.tema{
    box-shadow: 1px 1px 2px;
}

#cnt{
	margin-bottom: 10px;
}

#contenido{
	background-color: white;
	margin: 0px;
}
