
.container_24{
	background-color: white;
}

.mensaje-error{
	color: red;
	font-weight: bold;
}

.tema{
    box-shadow: 1px 1px 2px;
}

.contenedor-contenido{
	margin-bottom: 10px;
}

.contenido{
	background-color: white;
	margin: 0px;
}
