/* 
    Created on : 11/12/2013, 11:51:47 AM
    Author     : Andres
*/

#sesion{
	height: 60px;
	margin-bottom: 10px;
	background-color: #E7F5FE;
	text-align: right;
}

#sesion_form{
	display: inline-block;
}

#sesion button{
	margin-right: 30px;
}

#sesion label{
	line-height: 60px;
	margin: 0px 10px 0px 0px;
}

#sesion input{
	margin: 0px 20px 0px 0px;
}

#sesion_form\:label_usuario{
	font-weight: bold;
}