/* 
    Created on : 11/12/2013, 11:51:47 AM
    Author     : Andres
*/

#sesion{
	height: 60px;
	margin-bottom: 20px;
	background-color: lightcyan;
	text-align: right;
}

#sesion label{
	line-height: 60px;
	margin: 0px 10px 0px 0px;
}

#sesion input{
	margin: 0px 20px 0px 0px;
}

#sesion_form\:label_usuario{
	font-weight: bold;
}