@media (max-width: 767px) {
  .b-sesion .cont-btn-iniciar-sesion {
    padding-left: 15px;
    padding-right: 15px; } }
@media (min-width: 768px) {
  .b-sesion #form-buscar .input-group {
    width: 260px; }
  .b-sesion #form-cerrar-sesion {
    display: inline-block; } }
