h1 {
  text-align: center;
  font-size: 1em;
  margin-top: 0px;
  margin-bottom: 10px; }

h2 {
  font-size: 1em;
  margin-top: 0px;
  margin-bottom: 10px; }

.pagina-index > .panel-lateral .ui-listview > .ui-li-static {
  padding: 0em .5em; }
.pagina-index > .ui-header .ui-btn-icon-notext.ui-corner-all {
  -webkit-border-radius: .3125em;
  border-radius: .3125em; }
.pagina-index > .ui-header .ui-title {
  margin: 0px;
  height: 30px;
  padding-top: 5px;
  padding-bottom: 5px; }
.pagina-index > .ui-header .ui-input-search {
  margin: 0px; }
.pagina-index > .ui-content .producto-reciente .ui-btn:not(.ui-btn-active) {
  background-color: #ffffff; }
.pagina-index > .ui-content .producto-reciente h2 {
  margin-top: 0px;
  white-space: normal;
  line-height: 1em;
  font-size: 0.9em; }
.pagina-index > .ui-content .producto-reciente p {
  margin-bottom: 0px; }
.pagina-index > .ui-content .producto-reciente .cont-imagen {
  display: table;
  position: absolute;
  top: 0px;
  left: 10px;
  width: 5em;
  height: 5em;
  line-height: 0px; }
  .pagina-index > .ui-content .producto-reciente .cont-imagen div {
    display: table-cell;
    vertical-align: middle;
    text-align: center; }
    .pagina-index > .ui-content .producto-reciente .cont-imagen div img {
      max-width: 5em;
      max-height: 5em; }
.pagina-index > .ui-content .navegacion a {
  margin-top: 0px;
  margin-bottom: 0px; }
.pagina-index > .ui-footer > .ui-title {
  margin: 0px; }
