
.dialogo-sesion{

  .dialogo-sesion-grid{
    margin-bottom: 10px;

    tr{
      border: none;
    }

    td{
      border: none;
    }
  }

}

.b-header {

  label {
    margin-right: 10px;
  }

  /*.form-sesion {
    .ui-inputfield {
      margin-right: 20px;
    }
  }*/

  .usuario-nombre {
    margin-right: 10px;
  }

  .link-perfil {
    margin-right: 10px;
  }

}
