.b-sesion {

  @media (max-width: 767px) {

    .cont-btn-iniciar-sesion {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  @media (min-width: 768px) {

    #form-buscar {
      .input-group {
        width: 260px;
      }
    }

    #form-cerrar-sesion {
      display: inline-block;
    }

  }

}


