.ui-li-has-thumb.lista-producto .ui-btn:not(.ui-btn-active) {
  background-color: #ffffff; }
.ui-li-has-thumb.lista-producto h2 {
  margin-top: 0px;
  white-space: normal;
  line-height: 1em;
  font-size: 0.9em; }
.ui-li-has-thumb.lista-producto p {
  margin-bottom: 0px; }
.ui-li-has-thumb.lista-producto .cont-imagen {
  display: table;
  position: absolute;
  top: 0px;
  left: 10px;
  width: 5em;
  height: 5em;
  line-height: 0px; }
  .ui-li-has-thumb.lista-producto .cont-imagen div {
    display: table-cell;
    vertical-align: middle;
    text-align: center; }
    .ui-li-has-thumb.lista-producto .cont-imagen div img {
      max-width: 5em;
      max-height: 5em; }

.navegacion-lista-productos a {
  margin-top: 0px;
  margin-bottom: 0px; }
