
.b-respro{
	margin-bottom: 10px;
}

.b-respro .marco-imagen{
	margin-left: 20px;
	margin-right: 20px;
	width: 152px;
	height: 190px;
	line-height: 190px;
	display: inline-block;
}

.b-respro .imagen{
	max-width: 150px;
	max-height: 150px;
	border: 1px solid black;
}

.b-respro .contenedor-datos{
	display: inline-block;
	width: 500px;
	vertical-align: middle;
}

.b-respro .nombre-producto{
	font-size: 16px;
	vertical-align: top;
	display: block;
}

.b-respro .precio-producto{
	font-size: 16px;
	color: red;
	font-weight: bold;
}
