
.b-respro{
	margin-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
}

.b-respro .marco-imagen{
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
}

.b-respro .imagen{
	max-width: 150px;
	max-height: 150px;
	border: 1px solid black;
}

.b-respro .contenedor-datos{
	margin-top: 15px;
	margin-bottom: 15px;
}

.b-respro .nombre-producto{
	font-size: 16px;
	vertical-align: top;
	display: block;
}

.b-respro .precio-producto{
	font-size: 16px;
	color: red;
	font-weight: bold;
}
